<div class="row">
  <div class="col-9">
    <!-- Add a placeholder for the Twitch embed -->
    <div id="twitch-embed"></div>
    <!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: 854,
        height: 480,
        channel: "{{streamer}}"
      });
    </script>

  </div>
  <div class="col-3">
    <div class="alert alert-dark" role="alert">
      Events:
    </div>
    <div id='topic-box'></div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var messages = [];
      var socket = io();
      var el = document.getElementById('topic-box');
      socket.on('topic{{streamerId}}', function(msg) {
        if (messages.length == 10) {
          messages.shift();
        }
        messages.push(msg);
        var html = '<ul class="list-group">';
        for (var i = 0; i < messages.length; i++) {
          html += '<li class="list-group-item">' + messages[i] + '</li>';
        }
        html += '</ul>';
        el.innerHTML = html;
      });
    </script>
  </div>
</div>
