<!-- Add a placeholder for the Twitch embed -->
<div id="twitch-embed"></div>

<!-- Load the Twitch embed script -->
<script src="https://embed.twitch.tv/embed/v1.js"></script>

<!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
<script type="text/javascript">
  new Twitch.Embed("twitch-embed", {
    width: 854,
    height: 480,
    channel: "{{streamer}}"
  });
</script>

<p id='server-time'>
</p>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var el = document.getElementById('server-time');
  socket.on('time', function(timeString) {
    el.innerHTML = timeString;
  });
</script>
